<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
    />
  </div>

  <a href="">
    <div class="big-card__title">
      <h1>Saiu a nova vesão do angular</h1>
    </div>
    <div class="big-card__description">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio placeat
        dicta quis fuga ea. Corrupti exercitationem ipsa doloremque sed ea est
        odio dolorem dignissimos vero quas. Cupiditate non sit aut.
      </p>
    </div>
  </a>
</div>
