.container__menu-title{
  color: white;
  margin-top: 0.5rem;
}
.container__menu-title > h1{
  margin: 1rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container__menu-title > hr{

}

